<div class='field'>
  <%= f.label :email %>
  <%= f.email_field :email,
    class: 'text-center form-control modal__input input__field form-control-sm',
    autofocus: true,
    autocomplete: 'email' %>
</div>
