<div class='field mb-2 position-relative' data-controller='password-visibility'>
  <%= f.label field %>
  <%= f.password_field field, class: 'form-control form-control-sm', autocomplete: 'current-password', 'data-password-visibility-target': 'input' %>
  <%= link_to '', data: { action: 'password-visibility#toggle' }, class: 'p-0 pt-1 btn btn-outline-dark position-absolute bottom-0 end-0', style: 'height:32px; width:35px;' do %>
    <span class='bi bi-eye'></span>
  <% end %>
</div>
