<div class='field mb-2 position-relative' data-controller='password-visibility'>
  <%= f.label field %>
  <%= f.password_field field,
    class: 'text-center modal__input input__field form-control form-control-sm',
    data: {
      controller: 'inputmask',
      'password-visibility-target': 'input',
      'inputmask-target': 'field',
      'inputmask-type-value': 'password'
    }, autocomplete: 'current-password' %>

  <%= link_to '', data: { action: 'password-visibility#toggle' }, class: 'position-absolute end-0 btn btn-outline-dark password__icon' do %>
    <span class='bi bi-eye'></span>
  <% end %>
</div>
