.button--white-border {
  border: solid 1px #dee2e6;
}

.wallet--green-border, .button--green-border {
  border: solid 1px green;
}

.button--green-border,
.button--green-border:hover {
  color: green;
}

.transactions--border {
  border-left: 1px solid #dee2e6;
}

@media only screen and (max-width: 991px) {
  .transactions--border {
    border: none;
  }
}
