<div class='mx-2 row'>
  <div class='text-dark col-11 col-lg-8 mx-auto my-5 border-bottom border-top py-2'>
    <h2>Welcome To Our Website!</h2>
    <h5>Ever feel like  you're throwing money away? Take control of your cashflow by logging what you're spend with simple form.</h5>
  </div>

  <div class='row mx-auto justify-content-center'>
    <div class='col-11 col-lg-6'>
      <img class='col-12' src='https://guardianwealth.app/wp-content/uploads/2021/02/iStock-1211384881.jpg' alt=''>
    </div>
    <div class='col-11 col-sm-7 col-lg-4 my-auto p-5 border rounded-circle'>
      <h2>Start tracking your expenses and income</h2>
      <%= link_to "Let's Get Started", new_user_registration_path, class: 'btn btn-dark mt-2 w-50 rounded-pill' %>
    </div>
  </div>
</div>