<div class='mx-2'>
  <div class='text-dark col-11 col-lg-8 mx-auto my-5 border-bottom border-top py-2'>
    <h2>Welcome To BudgetPlanner!</h2>
    <h5 class='lh-base'>Ever feel like  you're throwing money away?
      Take control of your cashflow by logging what you're spend with simple form.
      It takes seconds to record daily transactions.
      Put them into clear and visualized categories such as Expense: Food, Shopping or Income: Salary, Gift.
    </h5>
  </div>

  <div class='row mx-auto justify-content-center'>
    <div class='col-11 col-lg-6'>
      <img class='col-12' src='https://guardianwealth.app/wp-content/uploads/2021/02/iStock-1211384881.jpg' alt=''>
    </div>

    <div class='col-11 col-sm-7 col-lg-4 my-auto p-5 border rounded-circle'>
      <h2>Start tracking your expenses and income</h2>
      <%= link_to "Let's Get Started", new_user_registration_path, class: 'btn btn-dark mt-2 w-50 rounded-pill' %>
    </div>
  </div>

  <div class='about mx-2 row justify-content-center mb-5'>
    <h2 class='m-5 py-4 col-8 col-xxl-10 border-top border-bottom'>Features our users love</h2>
    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4'>
      <h3>Very Fast</h3>
      <img src='https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-rocket-achievements-flaticons-lineal-color-flat-icons-2.png' class='m-4 p-4 border rounded-circle'>
      <p>
        Our application is incredible fast on all devices like PC, Tablet and Smartphone.
      </p>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4'>
      <h3>100% Secured</h3>
      <img src='https://img.icons8.com/dusk/64/security.png' class='m-4 p-4 border rounded-circle'>
      <p>
        Data on our servers is protected.
      </p>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4'>
      <h3>Easy to Use</h3>
      <img src='https://img.icons8.com/external-brepigy-lafs/64/000000/external-easy-untact-brepigy-brepigy-lafs.png' class='m-4 p-4 border rounded-circle'>
      <p>
        It is very easy to use BundgetPlanner everyday.
      </p>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4'>
      <h3>Reporting</h3>
      <img src="https://img.icons8.com/dusk/64/000000/chart.png" class='m-4 p-4 border rounded-circle'>
      <p>
        BadgetPlanner has ability to generate and download report of your income and expense. It is very usefull to see the graphics of your transactions.
      </p>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4'>
      <h3>Custom categories</h3>
      <img src="https://img.icons8.com/dusk/64/000000/diversity.png" class='m-4 p-4 border rounded-circle'/>
      <p>
        BadgetPlanner has ability to generate and download report of your income and expense. It is very usefull to see the graphics of your transactions.
      </p>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4'>
      <h3>Responsive Design</h3>
      <img src='https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-responsive-design-devices-flaticons-flat-flat-icons.png' class='m-4 p-4 border rounded-circle'>
      <p>
        You can use one BadgetPlanner account on the different devices such as PC, Tablet or Smartphone.
      </p>
    </div>
  </div>

  <div class='about mx-2 row justify-content-center mb-5'>
    <h2 class='m-5 py-4 col-8 border-top border-bottom col-xxl-10'>See what others have to say</h2>
    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4 d-flex flex-column justify-content-between'>
      <p>
        Perfect app. My husband and I use it to track all our expenses and income.
        We generate our household accounts and budget using this fab app.
        Furthermore, the developers are hands-on and extremely helpful.
        Do not look any further. Get this app now!.
      </p>

      <h5>Maria & Dima</h5>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4 d-flex flex-column justify-content-between'>
      <p>
        This will keep you organized and in control, of money you do have and money you will have.
        This application is easy to use and will help you keep track of every dollar.
      </p>

      <h5>Oleh</h5>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4 d-flex flex-column justify-content-between'>
      <p>
        A simple, accessible app that allows you to budget across weeks, months and years.
        The neat financial calendar lets you set up alerts and keep tabs on all transactions.
        Plus, it works with all currencies.
      </p>

      <h5>Max</h5>
    </div>
  </div>
</div>
