<div class="row">
  <div class="col-md-6">

    <div class="card">
      <div class="card-header">
        Bar Chart for Salary/Expense
      </div>
        <div class="card-body">
          <canvas id="chart-bar" width="400" height="400" data-data="<%= Transaction.expense.map{ |x| x.amount }.sum %>" data-labels="<%= Transaction.expense.map{ |x| x.category_id } %>"></canvas>
        </div>
    </div>

  </div>

  <div class="col-md-6">

    <div class="card">
      <div class="card-header">
        Pie Chart for Categories
      </div>
        <div class="card-body">
          <canvas id="chart-pie" width="400" height="400" data-data="<%= Transaction.income.map{ |x| x.amount }.sum.to_json.html_safe %>"%>"></canvas>
        </div>
    </div>

  </div>
</div>
