<div class='position-relative mx-auto p-0 text-start btn rounded' data-wallets-target='wallet' style='max-width: 250px;' id="<%= dom_id(wallet) %>" data-wallets-target='wallet'>
  <%= render 'wallets/form', wallet: wallet %>
</div>
