<div class='position-relative mx-auto p-0 text-start btn rounded transaction__block--medium' data-wallets-target='wallet' id="<%= dom_id(wallet) %>" data-wallets-target='wallet'>
  <%= render 'wallets/form', wallet: wallet %>
</div>
