<h1>Webpush Subscriptions</h1>
<script>
	const vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(ENV['WEBPUSH_PUBLIC_KEY']).bytes %>);

// application.js
// Register the serviceWorker script at /serviceworker.js from your server if supported
	if (navigator.serviceWorker) {
  navigator.serviceWorker.register('/service_worker.js')
  .then(function(reg) {
		 // application.js
		// When serviceWorker is supported, installed, and activated,
		// subscribe the pushManager property with the vapidPublicKey
		navigator.serviceWorker.ready.then((serviceWorkerRegistration) => {
		  serviceWorkerRegistration.pushManager
		  .subscribe({
		    userVisibleOnly: true,
		    applicationServerKey: vapidPublicKey
		  }).then(async function(PushSubscription) {
	  		const data = await fetch('/webpush_subscriptions', {
	  			method: 'POST',
	  			headers: {
	  				'Content-Type': 'application/json',
	  			},
	  			body: JSON.stringify(PushSubscription),
	  		}).then(r => r.json());
	  		console.log(data);
		  });
		});
     // console.log('Service worker change, registered the service worker');
  });
}
// Otherwise, no push notifications :(
	else {
	  console.error('Service worker is not supported in this browser');
	}
</script>
