.select2 {
  width: 100% !important;
}

.select2:focus,
.select2-search__field:focus {
  outline: none;
}

.select2-results, .select2-selection__rendered {
  text-align: left;
}

.select2-selection, #note {
  border-radius: 0px !important;
  border: none !important;
  border-top: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
  height: 50px !important;
}

.select2-selection__arrow {
  top: 25% !important;
}
