<span class='d-block'>Category</span>
<%= select_tag(:category_id, options_for_select(categories.map { |category| [category.title, category.id, 'data-image': category.image ] }, selected: selected), id: 'select_menu', class: 'form-select', data: { controller: 'select2' }) %>
